<h3>Edit Ride Data</h3>

<!-- Do I need to select from cyclists here first? -->

  <p><h4>Choose a ride to edit:</h4></p>
  
  <TABLE BORDER="5">
    <TH>ID</TH>
    <TH>First Name</TH>
    <TH>Last Name</TH>
    <TH>Nickname</TH>
  
    <% Ride.all.each do |item| %>
  
      <TR>
        <TD><a href='/edit_ride_form/<%= "#{item.id}" %>'><%= "#{item.id}" %>.</a></TD> 
        <TD><%= "#{item.first_name}" %></TD> 
        <TD><%= "#{item.last_name}" %></TD> 
        <TD><%= "#{item.nickname}" %></TD>
      </TR>
  
    <% end %>

  </TABLE>

  <br><br>
  <p><a href = "/home">Return To Main Menu</a></p>