<h3>Edit Bike Info</h3>
  
<form action="/edit_bike/">   

  <p><h4>Update bike info as necessary.</h4></p>
  
  <p><h4>Choose new owner:</h4><select name="cyclist_id"></p>
    <% Cyclist.all.each do |item| %>
      <option value="<%= item.id %>"> <%= item.first_name %> <%= item.last_name %></option>
    <% end %>
  </select>

  <p>Bike Name: <input type="text" name="bike_name" value="<%= @new_bike.bike_name %>"></p>
  <p>Description: <input type="text" name="description" value="<%= @new_bike.description %>"></p>
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <p><input type="submit" value="edit bike"></p>
</form>
<br><br>
<a href = "/home">Return To Main Menu</a>